html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.section {
  width: 100vw;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.hero-section {
  min-height: 100vh;
}

@media (max-width: 768px) {
  .hero-section {
    min-height: auto;
  }
}

.image-comparison {
  position: relative;
  overflow: hidden;
  cursor: col-resize;
  border-radius: 0.5rem;
  user-select: none;
}

.before-image,
.after-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.before-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
}

.slider-line {
  height: 100%;
  width: 2px;
  background-color: white;
}

.slider-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}