html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Custom styles to make Bootstrap carousel arrows visible */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* This will turn the default white icons to black */
}

/* Add a global cursor style for better drag feedback */
.grabbing-cursor,
.grabbing-cursor * {
  cursor: grabbing !important;
}

/* Ensure carousel controls are always on top of slide content */
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  z-index: 4; /* Higher than any z-index within ImageComparison */
}
